*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(#0b0131,#020202);
    background-repeat: no-repeat;
    height: 100vh;
}
.top-section{
    height: 40%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2%  8% ;
    justify-content: space-between;
    input{
        width: 80%;
    }
    .end{
        display: flex;
        justify-content: space-between;
        width: 80%;
    }
}
.na{
    display: flex;
    justify-content: space-between;
    padding: 0% 8% 0% 8%;
    width: 100%;
    background-color: #222;
    color: white;
    border-bottom: white 4px solid;
    border-top: white 4px solid;

}
.result{
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.content{
    display: flex;
    justify-content: space-between;
    padding: 0% 8% 0% 8%;
    width: 100%;
    background-color: #0e013c;
    color: white;
}
.delet{
    margin: 1% 0px;
}
.alert{
    display: flex;
    flex-direction: column;
    gap: 10px;
}